<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style type="text/css">
		.content-wrap{
			width: 90%;
			height: 400px;
			margin: 0 auto;
			line-height: 400px;
			text-align: center;
			margin-top: 10px;
			border: 1px solid black;
			font-size: 22px;
		}
	</style>
</head>
<body>
	<div class="page">
	<% include components/top.inc.ejs %>
		<div class="content-wrap">
			我是管理news的页面
		</div>
	</div>
</body>
</html>