<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">

		.left-wrap{
			width: 90%;
			margin: 0 auto;
			text-align:center;
			border: 1px solid black;
		}
		.left-wrap a{
			display: inline-block;
			padding: 10px 35px;
			height: 50px;
			line-height: 50px;
			font-size: 18px;
			text-decoration: none;
			border-right: 1px solid black;
			color: #333;
		}
		.left-wrap a:nth-child(8){
			border: none;
		}
	</style>
</head>
<body>
	<div class="left-wrap">
		<a href="/admin/">管理首页</a>
		<a href="/admin/banners">banner设置</a>
		<a href="/admin/custom">custom设置</a>
		<a href="/admin/blog">blog设置</a>
		<a href="/admin/contact">contact设置</a>
		<a href="/admin/intro">intro设置</a>
		<a href="/admin/msg">msg设置</a>
		<a href="/admin/news">news设置</a>
	</div>
</body>
</html>
